.modalContainer {
  margin: 0.5rem;
}

.header {
  margin-bottom: 1.5rem;

  span {
    font-weight: 600;
    color: var(--white-900); 
  }
}

.form {
  margin-top: 1.5rem;

  > * + * {
    margin-top: 2rem;
  }
}

.datePicker {
  margin-top: 4px !important;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: none;
  padding: 4px 12px;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 4rem !important;

  button + button {
    margin-left: 1rem;
  }
}
