.times {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;

  @media (max-width: 1080px) {
    grid-template-columns: repeat(6, 1fr);
  }

  @media (max-width: 720px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 430px) {
    grid-template-columns: repeat(2, 1fr);
  }

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white-50);
    border-radius: 0.75rem;
    cursor: pointer;
    border: 1px solid var(--white-50);

    button {
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      border: none;
      background: none;

      > div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    &:hover {
      filter: brightness(0.8);
    }
  }

  .time_disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .time_selected {
    border: 1px solid #48bb78;
  }
}
