.container {
  margin: 0 auto;
  width: 650px;
  padding: 0 0 2rem 0;

  .namesContainer {
    display: flex;

    > div + div {
      margin-left: 1.5rem;
    }

    > div {
      width: 100%;
    }
  }
}

.form {
  fieldset + fieldset {
    margin-top: 2rem;
  }
}

.personalDataFieldset {
  padding: 0.75rem 0;
  border: none;

  > div + div {
    margin-top: 1rem;
  }

  .personalDataLegend {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 1rem;

    > span {
      font-weight: 600;
      font-size: 1.5rem;
    }

    &::after {
      content: ' ';
      position: absolute;
      margin-top: 2.5rem;
      width: 100%;
      border-bottom: 1px solid var(--white-200);
    }
  }
}

.phonesFieldset {
  padding: 0.75rem 0;
  border: none;

  .phonesLegend {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 1rem;

    > span {
      font-weight: 600;
      font-size: 1.5rem;
    }

    &::after {
      content: ' ';
      position: absolute;
      margin-top: 2.5rem;
      width: 100%;
      border-bottom: 1px solid var(--white-200);
    }
  }

  .addPhone {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
    background: none;
    color: var(--primary-800);

    transition: all 300ms;

    svg {
      margin-right: 0.25rem;
    }

    &:hover {
      filter: brightness(0.7);
    }
  }

  .phonesContainer {
    display: flex;
    margin-bottom: 1rem;

    > * + * {
      margin-left: 1rem;
    }

    > div {
      width: 100%;
    }

    .removePhone {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 0.5rem;
      padding: 0.75rem;
      background: var(--red-400);
      transition: all 300ms;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}

.buttonsContainer {
  display: flex;

  button + button {
    margin-left: 0.5rem;
  }

  .saveButton {
    width: 120px;
  }
}
