.container {
  min-width: 256px;
  max-width: 256px;
  margin-right: 32px;
}

.nav_list {
  .nav_link + .nav_link {
    margin-top: 16px;
  }
}

.nav_link {
  list-style: none;

  a {
    display: flex;
  }

  span {
    margin-left: 16px;
    font-weight: 500;
    font-size: 16px;
  }

  &:hover {
    color: var(--light-200);
  }
}
