.button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  border: none;
  font-weight: 600;
  color: var(--white-900);

  svg {
    margin-right: 0.25rem;
  }

  &:hover {
    filter: brightness(0.7);
  }
}

.primary {
  background: var(--primary-800);
}

.blackAlpha {
  background: var(--white-400);
}

.solid {
}

.ghost {
  border: none;
  background: transparent;
}
