.appointment_header {
  height: 220px;
  background: var(--dark-300);
  list-style: none;

  padding: 40px 24px;

  .appointment_logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      cursor: pointer;
      position: absolute;
      left: 0;
      color: var(--light-200);
    }

    h1 {
      font-size: 20px;
      text-align: center;
      font-weight: 500;
      color: var(--light-200);
    }
  }
}

.appointment_info {
  display: flex;
  align-items: center;

  margin-top: 48px;
}

.appointment_date {
  margin-left: 32px;

  > span {
    margin-bottom: 8px;
  }

  > p {
    font-size: 14px;
    color: var(--light-200);
    margin-bottom: 16px;
  }

  > button {
    display: flex;
    align-items: center;

    padding: 8px 16px;
    border-radius: 8px;
    border: none;

    &:hover {
      cursor: pointer;
    }

    span {
      margin-left: 8px;
    }
  }
}

.appointment_main {
  background: var(--dark-100);

  padding: 72px 24px 88px;

  > h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
    color: var(--light-text);
  }

  .appointment_hours + .appointment_hours {
    margin-top: 32px;
  }

  .appointment_hour {
    position: relative;
    display: block;
    color: var(--light-text);
    margin-bottom: 16px;

    &::after {
      content: ' ';
      position: absolute;
      border-top: 2px solid var(--dark-200);
      width: 80%;
      top: 10px;
      left: 64px;
    }
  }
}

.appointment_hours {
  li + li {
    margin-top: 12px;
  }
}

.appointment_footer {
  padding: 0 16px 24px;

  position: fixed;
  height: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  background: var(--dark-100);

  button {
    width: 100%;
    height: 40px;
    cursor: pointer;
    background: var(--primary-400);
    border-radius: 8px;
    border: none;
    font-weight: 600;

    &:hover {
      filter: brightness(0.9);
    }
  }
}
