.appointment_header {
  height: 220px;
  background: var(--dark-300);
  list-style: none;

  padding: 40px 24px;

  .appointment_logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      cursor: pointer;
      position: absolute;
      left: 0;
      color: var(--light-200);
    }

    h1 {
      font-size: 20px;
      text-align: center;
      font-weight: 500;
      color: var(--light-200);
    }
  }
}

.appointment_info {
  display: flex;
  align-items: center;

  margin-top: 48px;
}

.appointment_date {
  margin-left: 32px;

  > span {
    margin-bottom: 8px;
  }

  > p {
    font-size: 14px;
    color: var(--light-200);
    margin-bottom: 16px;
  }

  > button {
    display: flex;
    align-items: center;

    padding: 8px 16px;
    border-radius: 8px;
    border: none;

    &:hover {
      cursor: pointer;
    }

    span {
      margin-left: 8px;
    }
  }
}
