.success_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  svg {
    color: #04d361;
    margin-bottom: 16px;
  }

  span {
    font-size: 24px;
    font-weight: 500;
    color: var(--light-text);
    margin: 0 64px 16px;
  }

  p {
    color: var(--light-200);
    margin: 0 64px 40px;
  }

  button {
    cursor: pointer;
    border-radius: 8px;
    height: 48px;
    padding: 8px 16px;
    border: none;
    font-weight: 600;
    background: var(--primary-400);
  }
}
